:root { 
    --bs-red: #E83E8C;
    --bs-blue: #17A2B8;
    --bs-border-width: 3px;

}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
    --bs-navbar-nav-link-padding-x: 2rem;
    }
}

.bg-primary {
    background-color: var(--bs-blue)!important;
}

.bg-danger {
    background-color: var(--bs-red)!important;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #212529;
}

.contenedor-nav  {
    height: 75px !important; 
}

.logo img {
    height: 6.5rem !important;
}

.navbar-toggler-icon {
    font-size: 3rem;
    height: 4rem;
}

.nuestros-productos {
    font-size: 6rem;
    margin-top: 13rem;
    margin-bottom: 8rem;
    color: #707070
}

main article {
    margin-bottom: 6.5rem;
}

h5 {
    font-weight: 700;
    font-size: 1.7rem;
}

.card li,
.card a{
    font-size: 1rem;
    text-decoration: none;
}

.footer-blue {
    height: 17rem;
    padding-inline: 12rem;
}

.footer-red {
    height: 18.5rem;
}

footer section img {
    height: 10rem;
}

footer h2 {
    color: #ffffff;
    font-size: 4rem;
}